[2018-08-31 21:54] mbj36 opened #1 "Roadmap for the project"
Hello all,

If you wish you contribute to this project or use the library, I am creating a road map below that would give a fair idea how i would like proceed with this project

Currently the project has base setup with `slide` animation working  and it is in very early stage so APIs may change in future.

As i will release the new version with new features, APIs may change on version upgrade, the

[2018-09-01 08:05] AleksejDix commented on #1
Can you can render 60 Frames per second to the roadmap

[2018-09-01 08:10] mbj36 commented on #1
@AleksejDix Can you elaborate a bit more ? what is your use case ?

[2018-09-03 12:20] j3ffsilva opened #2 "Understanding the outcomes of Google Summer of Code"
Dear Mohit,

I am a Ph.D. student at the University of São Paulo (Brazil). We would like to understand how and how much Open Source Communities benefit from participating in Google Summer of Code (GSoC). We believe that your experience in GSoC is valuable and could help us achieve that. In a 1-minute questionnaire, we would like to know:

Concerning the project entitled "Educational mobile applica

[2018-09-03 12:24] #2 closed, assigned to nobody

[2018-09-10 16:13] RTK99 opened #3 "Unable to edit size of burger button on mobile"
Hi,
So I'm primarily using this burger menu on a mobile device. I saw the css for the element you posted, and I decided to edit it for myself. Here is how I did it:
[code]
I edited the width and the height, since the button was extending out of my navbar. However, the size did not change. On desktop though, the changes are noticeable.
something is preventing the style from being changed on mobile.

[2018-09-10 16:58] mbj36 commented on #3
@RTK99

You can use media queries to see the change on your mobile device

[2018-09-10 17:12] #3 closed

[2018-09-10 17:14] mbj36 commented on #3
I created the codesandbox and can see the changes perfectly - https://codesandbox.io/s/329n5lj135

[2018-09-10 17:48] mbj36 opened #4 "On clicking inside the sidebar, sidebar should not get closed"

[2018-09-10 18:22] Texlo-Dev opened #5 "Burger icon sticks around when the user scrolls down, not sure how to turn this off."
Currently the burger icon behaves in a way that if a user scrolls down a page, the icon stays in the left or right corner always. How can I turn off this behavior, and have it disappear when the user scrolls down?

[2018-09-10 19:46] mbj36 commented on #5
Currently there is no scroll event or such behaviour/feature is there, but you can use a seperate navbar and place this burger-menu on navbar and then use CSS method (overflow)

Well i would be happy to have a PR to fix this behaviour

[2018-09-11 03:33] mingsterism opened #9 "Does not work with NUXT"
Hi,
I tried getting it to work with Nuxt however, facing similar issue to this.
https://github.com/nuxt/nuxt.js/issues/2241

Is vue-burger-menu SSR friendly?

Thanks

[2018-09-11 05:51] mbj36 commented on #9
It does not support SSR at the moment

PRs welcome.

[2018-09-11 08:06] mbj36 commented on #9
@mingsterism You can use this - https://github.com/egoist/vue-no-ssr

[2018-09-12 15:41] byrnecode opened #10 "original source.. :)"
Hi, I appreciate this project and want to fully support it. But I find it odd that there was no mention of **tympanus/codrops** where the [original frontend ui](https://tympanus.net/codrops/2014/09/16/off-canvas-menu-effects/) came from. In this open-source world, it is somewhat a common courtesy to at least mention the source or inspiration of a project, just like any other "vue wrapper" projects

[2018-09-12 15:52] shivamluthra commented on #10
Hi, FYI, proper credits along with github links to [OffCanvasMenuEffects](https://github.com/codrops/OffCanvasMenuEffects) and [SidebarTransitions](https://github.com/codrops/SidebarTransitions) are given to Codrops as you SERVE the wrapper. Mentioning it in Readme.md would be a good idea and will be done soon :)

[2018-09-12 16:15] mbj36 commented on #10
@byrnecode If you see the demo site - https://vue-burger-menu.netlify.com/ , there has been proper mention of original source from start because UI is used only in demo site :)

[2018-09-12 16:15] #10 closed

[2018-09-13 08:50] Mobeidat commented on #4
Can we have this very soon

[2018-09-13 08:52] mbj36 commented on #4
@Mobeidat I will have time to look into this weekend and hopefully release the fix

I am also happy to accept a PRif you would like to fix

[2018-09-14 23:32] macksfield commented on #4
I was just looking into this issue!

Being able to pass a callback function that would determine if the menu closes would be ideal. Or a passed boolean that turns off the auto-close.

It's essentially this function that is causing it to close on click:
[code]

[2018-09-19 12:20] Mobeidat commented on #4
Any updates on this?!

[2018-09-20 06:37] mbj36 commented on #4
@Mobeidat Fixed this in v1.0.3 :)

[2018-09-20 06:37] #4 closed

[2018-09-22 14:27] jaskiratr commented on #9
To use it in with Nuxt, I had use it as a plugin with no SSR

**plugins/slide-menu.js**
[code]

**nuxt.config.js**
[code]

**index.vue**
[code]

[2018-09-28 09:57] Epillepsy opened #11 "Feature request - open/Close event"
Hi,
I would like to have access to the "onClose" and "onOpen" events from my components or the ability to use .sync on the isOpen variable to track when the menu is open or close all the time

[2018-09-28 10:06] mbj36 commented on #11
@Epillepsy Thanks for the request, I can work on this feature during this weekend

[2018-09-28 12:43] Epillepsy commented on #11
I opened a pull request with a simple implementation of the feature, I'm new to Vue.Js so please don't hesistate to criticize my (possibly) naive implementation of the feature

[2018-09-28 17:59] mbj36 commented on #11
Merged

[2018-09-28 17:59] #11 closed

[2018-09-28 19:06] lastdance1 opened #14 "Documentation Typos"
The documentation needs to be edited to reflect the fact that transition names in component imports need to be capitalized (i.e. ScaleRotate instead of scaleRotate.)

[2018-09-29 07:23] mbj36 opened #15 "Mention the events on the README"
@Epillepsy Would you like to open a PR mentioning the `openMenu` and `closeMenu` events on README ?

[2018-09-29 08:37] Epillepsy commented on #15
@mbj36 my bad, totally forgot about this, I will take care of it today

[2018-09-30 16:15] mbj36 commented on #14
Fixed.

[2018-09-30 16:15] #14 closed

[2018-09-30 19:59] shivamluthra opened #17 "Scroll Behaviour stops working in Scale Down & Scale Rotate effect"
The content stops scrolling when Scale Down or Scale Rotate effect is selected and burger menu is opened and closed. A usual workaround can be fixing overflow properties and make the content scroll as soon as the menu is closed back.

[2018-09-30 20:00] shivamluthra commented on #17
@mbj36 Please assign me to this :)

[2018-10-01 04:29] #17 closed

[2018-10-01 04:30] mbj36 commented on #17
Fixed

[2018-10-01 04:55] mbj36 commented on #15
@Epillepsy Do you think you will be available to take this today ?

[2018-10-01 04:58] mbj36 opened #19 "Setup vue-test-utils"
I welcome every contributor to discuss the test setup for this project and how we can test every available component

[2018-10-01 07:43] Epillepsy commented on #15
@mbj36 this is done, sorry for the delay

[2018-10-01 08:58] #15 closed

[2018-10-01 08:59] mbj36 commented on #5
@shivamluthra @Sshruti10 Can you guys think of how can we fix this ?

[2018-10-01 09:36] Sshruti10 commented on #5
CSS static position property can be used.

[2018-10-01 09:39] mbj36 commented on #5
Not sure how it will fix, can you try on your machine and see if it works

[2018-10-01 18:15] shivamluthra commented on #5
@RTK99 Hi, I am unable to get that how will user experience improve by doing this. Because, everytime user scrolls down a huge page, he has to reach back to the top of page in order to access the burger menu.
For personal use if you want to use it like this, you would have to mention the window height after scrolling upto which, you can make the display property of your burger menu to hidden and t

[2018-10-02 08:28] mbrodala opened #21 "Add UMD support"
It would be great if the dist file (`vue-burger-menu.common.js`) had UMD support to e.g. load this component via RequireJS.

[2018-10-02 08:37] mbj36 commented on #21
@mbrodala I will have this by tomorrow, thanks for opening the issue

[2018-10-02 12:00] mbj36 commented on #21
Hey @mbrodala i just published 1.0.7 with umd support

[2018-10-02 12:00] #21 closed

[2018-10-05 11:11] mbrodala commented on #21
Thanks, seems to load fine now.

[2018-10-13 05:59] vishnumanjunath opened #23 "Overlay should be on top of body elements except the sidebar."
I'm trying to override `.bm-overlay` by add extra `z-index` to it. I'm not able to add my extra styling. I guess this is probably because `.bm-overlay` will be added when the menu is open. Is there anyway to add my style to it?

[2018-10-13 06:50] vishnumanjunath commented on #23
Simple I just want to display logo behind overlay. Whenever it is present.

[2018-10-15 14:45] fimion opened #24 "A11y: Replace span/div element with button element for keyboard accessibility"
Replace the  span(close)/div(burger menu) element with a button element so users navigating with a keyboard can tab to the close button.

[2018-10-15 14:51] mbj36 commented on #24
Nice Idea. I am open for a Pull request for this.

[2018-10-15 14:55] fimion commented on #24
I'll see if I can get to it this week.

[2018-10-25 22:39] mritunjaygoutam12 commented on #5
@RTK99  really we should do something here. It is little ugly.
For easy solution you can set position with respect to media screen size like

   `@media screen and (max-width: 40em) {
.bm-burger-button {
      left: 6px;
      top: 6px;
      }
}`
I have tried it. Now, it looks better.

Or
hide it for non zero window position or unhide it for a while if currentY position decrease on onscroll event

[2018-10-26 00:16] mritunjaygoutam12 commented on #1
Have you started implementing "Stack" amination implementation ? Otherwise I wish to start.

[2018-10-26 12:08] mbj36 commented on #5
@mritunjaygoutam12 Can you add this as a doc in FAQ wiki page

[2018-11-07 18:02] mlangone opened #28 "Override or Change CSS"
What would you recommend the best way is to override or change the css? It appears your css load on page after my app styles.

[2018-11-08 06:15] mbj36 commented on #28
Is it possible for you to make a short demo so that i can investigate ?

[2018-11-08 10:02] mritunjaygoutam12 commented on #28
you can simply try by adding style to your component in which you are importing "vue-burger-menu".
if this does not work for you try adding style in mounted function.

Best is if you can provide test case.

[2018-11-09 12:02] mbj36 commented on #9
@mritunjaygoutam12 Adding this in WIKI would be good

[2018-11-13 04:45] mbj36 opened #29 "Remove WIP animation from README"
Currently in readme, there are 4 WIP animations from which two are done (`Bubble` and `Fall Down`) so update the readme with correct details.

[2018-11-14 21:46] mlangone commented on #28
Adding class to "slide" allows me to target the css thank you.

[2018-11-14 21:46] #28 closed

[2018-11-18 12:02] shareef1989 opened #30 "How to disable menu closing when item is clicked"
Hi,

I want to use dropdown menus inside Slider menu, but when item is clicked, the Slider get closed.
How to prevent closing event from being triggered in this case ?

[2018-11-18 15:09] mbj36 commented on #30
@shareef1989 Is it possible for you to make a small demo on codesandbox so that i can figure out your solution ?

[2018-11-19 08:53] munnabhaims opened #31 "dispaly hamburger button when the side bar is open"
Hi,

Display hamburger button when the side bar is open. when we click on the  button, sidebar is hiding the button. component should be displayed like menu items are derived from the menu

[2018-11-20 08:06] alvaro-canepa opened #32 "Hide burger icon has element errors"
Using `<Slide :burgerIcon="false"> ... </Slide>` returns some errors in production mode.
[code]
On this part of plugin
[code]
`element` doesn't exists. The same thing happen in line #995

[code]

[2018-11-20 08:41] mbj36 commented on #32
What is your use case for using `:burgerIcon=false` ?

Using `:burgerIcon=false` will disable the burgerIcon and user won't be able to open the menu again.

[2018-11-20 08:45] mbj36 commented on #31
Why do you want to show the hamburger button when menu is already open ?

[2018-11-20 08:47] alvaro-canepa commented on #32
I don't want to open the sidebar with burger icon. I use it for a search form, when the user click on the input form, sidebar is opened with the list of options to select.

![image](https://user-images.githubusercontent.com/5142298/48761522-99361a80-ec87-11e8-836f-1c294a830bd9.png)

[2018-11-20 08:52] mbj36 commented on #32
A simple workaround i think of your problem is

[code]

[2018-11-20 08:57] alvaro-canepa commented on #32
Yes, it is. But this is more like a local patch. And isn't a real solution for a prop. I mean, if the plugin support a prop to hide icon button, this must be fully supported.

Thanks

[2018-11-20 08:59] mbj36 commented on #32
Yes, I agree...will check in detail about the error.

[2018-11-20 17:43] ptdev opened #33 "Programatically open/close nav?"
Hi,
Is there anyway to open and close the drawer programatically?
For example, in case we need to use another button or link instead of the built-in hamburger menu?
Thank you.

[2018-11-20 18:01] edum18 commented on #4
I'm having this issue on v1.0.8. Clicking on a div inside the bar, closes it.

[2018-11-20 18:05] mbj36 commented on #33
There is a hacky way i just tried here - https://codesandbox.io/s/xo0976yq5z

You can use `isOpen` and set the state. Let me know if it works for you.

[2018-11-20 18:10] mbj36 commented on #4
@edum18 I need more info...what you mean `clicking on a div inside the bar` ?

[2018-11-20 19:07] ptdev commented on #33
Great! That was exactly what I needed. 👍
Thanks for the quick reply, and thanks for releasing this component.

[2018-11-20 19:07] #33 closed

[2018-11-21 16:27] ptdev opened #34 "Overlay usability suggestion"
Hi, I'm having some issues with this component's overlay and overlay close functionality that I'll try to explain and leave a suggestion.

Assumptions about the overlay:
- when the menu is open, the overlay should, well... overlay the rest of the page.
- when clicking the overlay, the menu should close and nothing else. (i.e: should not follow links under the overlay)
- adjusting the opacity of th

[2018-11-22 15:19] ptdev commented on #34
Hey, me again with another suggestion follow-up. Please don't take these the wrong way, they're simple suggestions to make this component more adequate for use across a different variety of sites and markup so you may or may not want to put them in the roadmap. I may eventually fix these myself and submit a pull request if needed, but unfortunately i don't currently have much time for it.

So, alt

[2018-11-22 17:35] ptdev commented on #30
I also have this. It's caused most likely by [this code](https://github.com/mbj36/vue-burger-menu/blob/master/src/components/Menu.vue#L102-L112).

To test, on your own demo, try to add inside the nav something like:

[code]

And then click it and you'll see that the drawer closes.

The way the drawer is closed is by checking the click event target against a bunch of negatives. This is not ideal an

[2018-11-22 18:07] mbj36 commented on #30
@ptdev I really appreciate your issue and points on how to improve the library...I am very happy to accept PR which helps improving the library

Let me know if i can help you in your PR and any questions you have

[2018-11-22 18:08] mbj36 commented on #34
Really appreciate your suggestions. Happy to accept PR to improve things

[2018-11-23 02:46] #34 closed

[2018-11-23 16:01] Pixney-William commented on #5
Personally, i never use the hamburger icon. I use other elements to open and close the sidebar programmatically. Then you have better control.

[2018-11-23 16:07] Pixney-William commented on #33
Personally i think it's better to just disable both icons using:
`<Slide :burgerIcon="false" :crossIcon="false"/>`

And only use custom elements combined with isOpen

[2018-11-23 16:31] Pixney-William commented on #34
Adding to this, since i saw that you submitted a pull request. Could you make sure that isOpen is set to false when you click on the overlay to close the menu as well?

Otherwise, if you are programmatically opening and closing the drawer without using the built in hamburger menu, you need to listen to the close event and set isOpen yourself to false.

[2018-11-23 18:37] ptdev commented on #34
Good point, I'll update my pull request to account for that once I get home in an hour or two.

[2018-11-24 15:35] ptdev commented on #34
Hey, sorry I couldn't see this yesterday.
Anyway, I took another look at the code and what you're requesting isn't really doable as it stands right now.
That's because isOpen is a prop and we [can't update props directly from outside the component](https://vuejs.org/v2/guide/components-props.html#One-Way-Data-Flow). We could emit an event from a child to the parent component, but that would requir

[2018-11-26 15:29] ddiegommachado opened #36 "How to use width: 100% after click open menu?"
How to use width: 100% after click open menu?

[2018-11-27 17:55] edum18 commented on #30
@ptdev thanks for updating the component. However I'm still facing the same problem of this issue: the tab closes everytime I click on any element inside it (inside of the element with class `bm-item-list`). Not sure if it's a problem on my side though. I read that you said "should fix" this issue so I'm not sure. Did you test it?

[2018-11-27 18:15] ptdev commented on #30
Hi @edum18,

Yes, my pull request fixes the issue with the closing since it now only closes when specifically clicking the close button or the overlay (outside the slider).

The pull request wasn't accepted though so you won't get it with just an npm update. You'll have to update it manually.

I personally just took the pieces I needed and created my own drawer component that's imported on my app

[2018-11-28 01:05] ptdev commented on #36
It currently only supports pixel width. I've added the ability to use percentages and some other improvements on the pull request I have open on #35 if you want to take a look.

[2018-12-05 19:23] Luis92pe opened #37 "two instaces"
I try to have two instances in the same component. one Slide component on the left and one on the right. but when I try to open the menu on the left. the one on the right opens.

[2018-12-05 19:23] Luis92pe commented on #37
` <Slide id="a">
                 <a id="home" href="#">
                     <span>Home</span>
                 </a>

             </Slide>

             <Slide right>
                 <a id="home" href="#">
                     <span>Home</span>
                 </a>
                 <a id="home" href="#">
                     <span>Home</span>
                 </a>
             </Slide>
`

[2018-12-07 21:54] ihojmanb commented on #23
Note that if you are styling within a `scoped` style tag you are not going to achieve what you want.
In your component (header.vue I suppose ) you could add another `<style>` block besides `<style scoped>` block with the vue-burger-menu classes.

[2018-12-07 22:56] ihojmanb commented on #36
Is there any way it can depend on viewport width?pixel width  doesn't seem like a responsive solution.

[2018-12-08 11:09] vishnumanjunath commented on #23
Well, that works I can override the css class, but the issue is, overlay is adding to the body tag because of which elements or on top of it (which should be the opposite). Overlay should be on top of other elements except the sidebar. Sorry for miss guiding I have updated the issue.

[2018-12-11 09:14] k29 commented on #30
@mbj36 Any idea when this PR will be accepted and available with npm?

[2018-12-11 18:44] mritunjaygoutam12 commented on #37
This feature is not supported right now. we have to operate on Class index basis instead of ID for sidebar opening.

[2018-12-12 16:19] MacZel commented on #9
It is not working with Nuxt because of all recalls to document. In order to make it work all of the components need to be rewritten in such a way that they are not recalling document during server rendering.

[2018-12-21 06:55] #37 closed

[2018-12-21 07:01] mbj36 commented on #31
Closing because of no response...feel free to open if you have issues

[2018-12-21 07:01] #31 closed

[2019-01-03 22:44] andazin opened #38 "Extra checking in documentClick function (menu.vue file)"
I had a problem with the menu in some complex pages.
Situation: the menu is present on the page, but hidden (not visible) and the Document onClick event bubbles to the menu component and caused the error because it was not related to the menu itself.
The simple fix eliminated the problem: just make the extra checking in documentClick function (menu.vue file) like this:

    documentClick: function

[2019-01-04 19:45] mbj36 commented on #38
#39  Fixed

[2019-01-26 12:42] zhousheng193 opened #40 "<Slide right isOpen> has error"
<Slide right isOpen> has error

[2019-01-26 13:18] jacobg213 commented on #40
Maybe you should include some more details :)

[2019-01-26 16:05] mbj36 commented on #40
@zhousheng193 Thanks for reporting, yes i can see errors in console.

Would you like to open a PR ;) ?

I will be able to fix by Monday.

[2019-01-27 02:52] zhousheng193 commented on #40
![11](https://user-images.githubusercontent.com/5163952/51795611-7db83480-2221-11e9-9a21-d285249f1802.png)
![22](https://user-images.githubusercontent.com/5163952/51795612-827ce880-2221-11e9-885c-48c1c0199332.png)

[2019-01-29 16:23] HamHamFonFon opened #42 "Access to openMenu() function from parent component"
Hello,

I'm trying to open the menu from a link external to the slide but it looks like i don't access to the method.
Here's an example (maybe it's not the correct way, i'm beginner with VueJS)

[code]
I want to open the menu with my method openSlideMenu().
Thank you

[2019-01-31 12:23] HamHamFonFon commented on #42
Find the solution, in my method `openSlideMenu`  :
[code]
(a bit weird but i think it's how VueJs rules...)

[2019-01-31 12:23] #42 closed

[2019-01-31 12:34] mbj36 commented on #42
Glad you found it @HamHamFonFon. Actually i need to clear this in docs and make it more efficient.

[2019-02-06 13:27] roonie007 opened #43 "Option Close on Outside click"
Add a Prop to the Menu so it could be persistent or no persistent when someone click on the outside of the Menu

[2019-02-06 15:25] roonie007 commented on #43
just pushed a PR #44

[2019-02-07 16:45] mbj36 commented on #43
@roonie007 Thanks for PR, i will take a close look this weekend , merge and release it. Keep Contributing!

[2019-02-12 15:13] mbj36 commented on #43
Merged, released in v2.0.1

[2019-02-12 15:13] #43 closed

[2019-02-12 15:14] mbj36 commented on #40
Should be fixed in v2.0.1

[2019-02-12 15:14] #40 closed

[2019-02-12 15:14] mbj36 commented on #29
@mritunjaygoutam12

[2019-02-12 15:16] mbj36 commented on #29
Also add FAQ wiki section link in README just below the styling section.

[2019-02-12 16:00] edum18 commented on #43
@mbj36 with this change, I can't programatically open the menu without "disableOutsideClick", but I still want to click outside like before

[2019-02-12 16:20] mbj36 commented on #43
@edum18 Could you please reproduce on codesandbox - https://codesandbox.io/s/vue?from-embed

CC - @roonie007

[2019-02-12 16:47] edum18 commented on #43
https://codesandbox.io/embed/xpv7kzwqkz
2 slides, one with disableOutsideClick and other without. What I want to achieve is being able to open slide with a button and close it clicking outside. As you can see, with disableOutsideClick, the menu opens and closes instantly

[2019-02-12 17:37] mbj36 commented on #43
I see, issue is you are not able to open menu on click of a button without passing the prop `disableOutsideClick`

Open for a PR, would like to fix ?

[2019-02-13 00:03] IamTinashe opened #46 "Failed to execute 'appendChild' on Nuxt"
It runs in development, but fails in production. I'm using Nuxt. Please assist
Plugin:
[code]

[2019-02-13 05:35] mbj36 commented on #46
@IamTinashe Can you check this issue https://github.com/mbj36/vue-burger-menu/issues/9 if it helps you ?

[2019-02-13 09:48] IamTinashe commented on #46
Thanks, That's what I did. So when I'm in development it works fine. But in production it doesn't

[2019-02-13 13:09] mbj36 commented on #46
Not sure what;s wrong then :(  haven't tried Nuxt yet

[2019-02-13 13:31] IamTinashe commented on #46
<img width="614" alt="bug" src="https://user-images.githubusercontent.com/27784507/52715150-c0f9fd80-2fac-11e9-8c08-82cbed1de5db.PNG">

[https://www.iamtinashe.io/](url)

[2019-02-13 15:07] roonie007 commented on #43
@mbj36 @edum18 it's not related to this commit in particualrity, i couldn't reproduce the problem in my computer, it works fine on my machine on chrome and firefox, but i get the bug in the sandbox, and it's actually related to the button itself, or i mean to the mouse click of the button.

You need to make the @Click as a function and then add `e.preventPropagation();` and everything will work pe

[2019-02-13 15:14] roonie007 commented on #46
I think this is related to #40 and I think you should update the vue-burger-menu to the last version (from yesterday), this commit Commit [fd20b5f](https://github.com/mbj36/vue-burger-menu/pull/44/commits/fd20b5f6bb5176d5797044595c8552ef5d90f140#diff-597f7240e2b769bbd70fb848c323b0d7) in this merge #44  should have fixed that problem

[2019-02-13 16:40] roonie007 commented on #42
@HamHamFonFon the right way to do it, is to use a store, and then you should have a variable in state, which define if the slider is opened or no, and then you can access it from anywhere on the app, that's the right way to do it in vuejs

[2019-02-13 17:40] mbj36 commented on #43
@roonie007 Thanks for the help! You are awesome

[2019-02-13 18:20] edum18 commented on #43
thank you!

[2019-02-14 16:28] mbj36 commented on #46
@IamTinashe please check above comment

[2019-02-14 16:28] #46 closed

[2019-02-16 03:59] NeoMarine commented on #37
I'd also like to be able to create more than 1 instance.

[2019-02-16 14:09] roonie007 commented on #37
@NeoMarine  with the latest version you can 😄

[2019-02-20 20:28] sbefort commented on #9
This can be changed:
[code]

[2019-02-23 17:44] aske-cph commented on #42
Hmm. This doesn't seem to work for me. Can we get an elaboration on the trick in the docs, or codepen? Thanks!

[2019-02-23 19:27] aske-cph commented on #33
This doesn't work? I am changing from false to true and back again but nothing happens.
`:isOpen=openState`
Also the above codeSandbox doesn't work either.
Am i misunderstanding something? Thanks!

[2019-02-23 20:38] roonie007 commented on #33
@aske-cph  can you share some of the code ? because it works good for me

[2019-02-23 20:44] aske-cph commented on #33
Check the codesandbox link: https://codesandbox.io/s/xo0976yq5z

Nothing happens when i click open menu button. In both Chrome and Safari. Does it open for you? For me it only closes an already open menu.

[2019-02-23 21:33] roonie007 commented on #33
There is a problem with the button, check this https://codesandbox.io/s/10ykw3286q, it's working perfectly

[2019-02-23 21:38] roonie007 commented on #33
check this https://codesandbox.io/s/wq3ozkvjyl, you need to add e.preventDefault() and e.stopPropagation() to the methods, codesandbox is having a problem with buttons, i don't know why, but another person the otherday  had the same issue as you, https://github.com/mbj36/vue-burger-menu/issues/43#issuecomment-463233677 and it's a sandbox problem.

[2019-02-23 21:57] aske-cph commented on #33
Thanks abunch @roonie007 ! I got it working.

[2019-03-06 17:39] rrodriguze commented on #17
I just had this problem with Scale Down effect, maybe this should be revised.

[2019-03-07 08:55] b-jan opened #47 "Not working with latest Nuxt version 2.4.5"
I updated Nuxt to the latest version 2.3.6 => 2.4.5
And my Slide drawer menu was not working anymore.

I actually logged the behaviour in both Nuxt versions to understand was happening.
What has changed after the update is that the openMenu() function is now called before the documentClick() function when I click on my custom burger icon. As a result the menu opens and closes immediately. I was un

[2019-03-07 13:21] Royve90 opened #48 "Push right not working"
Hello,

Thank you for the great package!
With the last NPM version (2.0.1) the push right doesn't work.

Code:
[code]

- Hamburger is now on the right (good!)
- page-wrap transform is translate3d(300px, 0px, 0px); must be translate3d(-300px, 0px, 0px); (wrong)

The default push (left side) is correct.

[2019-03-07 14:07] mbj36 commented on #48
Could you please reproduce on CodeSandbox - https://codesandbox.io/s/vue?from-embed

It seems to be working in demo - https://vue-burger-menu.netlify.com/

[2019-03-07 14:15] mbj36 commented on #48
Okay i was able to reproduce. Would you like to open a PR, I would be happy to accept ?

[2019-03-07 14:18] mbj36 commented on #47
https://github.com/mbj36/vue-burger-menu/issues/43#issuecomment-463233677 Could you please check this comment ?

Also which version of package you are using ?

[2019-03-07 14:18] Royve90 commented on #48
@mbj36 thanks for your reply! Nice tool! See https://codesandbox.io/s/41y1yo5w0?fontsize=14

Thanks :)

[2019-03-07 14:21] mbj36 commented on #48
@Royve90 You want to open a PR for the fix ?

[2019-03-07 14:23] mbj36 opened #49 "Close button doesn;t adjust with width size"
Seems like close button has fixed position. Need to be relative and should always appear at the appropriate position.

If you increase/decrease the width of the Menu, it gets out of the correct position

[2019-03-07 14:25] #23 closed

[2019-03-07 14:35] Royve90 commented on #48
I do not know how to fix it.

It seems like [this if](https://github.com/mbj36/vue-burger-menu/blob/master/src/components/Menu/push.vue#L29) triggers always the else but why?

[2019-03-07 17:38] Royve90 commented on #5
@Pixney-William How do you trigger the open method programmatically?

[2019-03-13 04:51] pierotrigoso commented on #36
I noticed that whe the menu is opened, the class _bm-overlay_ is added to the *body*, you can use this to change the width of the menu (class _.bm-menu_) manually, for example:

[code]

[2019-03-17 01:01] martinandersen3d commented on #42
this worked for me:

[code]

[2019-03-27 13:22] Andekl opened #50 "Is it possible to move the cross in the menu to the right side?"
It's on the left side by defualt and i havent found anything in the documents on how to move it. So i'm wondering if it's possible and if so, how?

[2019-03-27 13:35] mbj36 commented on #50
@Andekl Where do you want to move it ?

We have `right` prop to move the sidebar to right side

[2019-03-29 11:50] Andekl commented on #50
@mbj36 Sorry maybe i wasent clear enough.
I didnt mean that i want to move the whole sidebar to the right (that i have already done). I want to move the cross inside the sidebar to the right side of the sidebar

[2019-03-30 02:35] mallim opened #51 "Could not load existing sourcemap"
Could not load existing sourcemap

ParcelJS: 1.12.3
VueJS: 2.6.10

[code]
What should I do?

[2019-03-30 05:20] mbj36 commented on #51
which build you are using ?

[2019-03-30 05:28] mallim commented on #51
using vue-burger-menu version 2.0.1

doing parcel serve for development

pointing to this
'''
 main": "./dist/vue-burger-menu.common.js
'''

[2019-03-30 06:20] mbj36 commented on #51
Well that's weird, can you try reproducing this issue on CodeSandbox ?

[2019-03-30 13:04] mallim commented on #51
Not sure how CodeSandbox work with parceljs

Anyway, I got the files up on github https://github.com/mallim/vue-burger-menu-issue

Is it VueJS 2.6.0 problem or parceljs problem?

[2019-03-31 20:47] adpace opened #52 "Can't style CSS"
Hello all,
I am not able to override any of the css for the slide css. I've tried adding classes to <Slide>, tried wrapping it and using deep selectors, tried just using the single css class selectors on their own, nothing. Below is a copy of the code where this lives. Any help is appreciated.

`<template>
    <div class="row">
        <div class="col d-flex">
            <div class="mr-auto mt-3

[2019-04-01 14:09] szvest commented on #9
Has anyone made it work as @jaskiratr explained? It throws 'document is not defined' error :
[code]

[2019-04-01 14:13] mbj36 commented on #52
Would appreciate if you can reproduce using CodeSandbox here - https://codesandbox.io/s/vue?from-embed

[2019-04-01 14:15] mbj36 commented on #51
I think you might need Parcel source map loader - Please check this issue here - https://github.com/parcel-bundler/parcel/issues/741

[2019-04-01 14:18] mbj36 commented on #50
Can you please post a visual pic with indication of what you want ?

pic1 -  what it looks like
pic2 -  what you want

[2019-04-01 14:19] mbj36 commented on #50
If you do `style="right: 0px"` this should move cross button to the right of the sidebar

[2019-04-01 18:33] szvest commented on #9
Ok.. fixed.
[code]
instead of
[code]

[2019-04-02 12:58] roonie007 commented on #52
@mbj36

it's true, there is a problem with the CSS since it's included as global classes, and sometime it's overwritten in the element Style attribute, maybe we need to check the css implementation and improve it.

i can take a look at it this weekend

[2019-04-02 15:49] LaserVisionRj commented on #52
@adpace if you remove scoped from the style it will work

[2019-04-04 02:41] GokiSun commented on #52
In the 'pull' methods, I think you ought to remove the styles, which are added in the 'push',rather than change, or they will make some porperties useless, like the 'perspective ' to 'z-index'.

[2019-04-04 08:41] codemeier opened #53 "Animation stops halfway through when closing the menu and modifying vuex store in the on-click method"
In my app I have a PushRotate menu on the right-hand side. One of the links has an additional click.native callback attached:

      <router-link to="/login" @click.native="logout()">
        <span>Logout</span>
      </router-link>

In the callback handler I call a vuex mutation:

[code]
which in turn looks like this:

[code]

Now when I hit the Logout link in the menu, the menu closes but the an

[2019-04-05 12:40] Andekl commented on #50
@mbj36 I tried to add it in both `.cross-style` and `.bm-cross` and it just moved the cross slightly to the right

[2019-04-06 07:51] idodidodi opened #54 "On Slide animation - Pressing Escape does not init the @closeMenu"
On Slide animation - Pressing Escape key does not init the @closeMenu prop function, while clicking anywhere outside the menu does init this function.

The Menu closes when I press the Escape key.

Thanks.

[2019-04-09 16:31] stefanknegt opened #55 "Ignore navbar when using Push"
I was wondering whether it is possible to ignore the navbar when pushing the content in the main content aside?
I would like to build something similar to this: https://vuetifyjs.com/en/examples/layouts/googleKeep.

[2019-04-10 13:37] RomkaLTU commented on #4
Indeed it's not fixed. Clicking on div or anything else inside off-canvas menu closes it. We talking about slot content here...

[2019-04-10 13:41] RomkaLTU opened #56 "Sidebar closing when clicking inside it"
It's happening when you click something inside the sidebar, for example trying to clikc on text input ant type something. Text input is inside slot.

[code]

[2019-04-11 23:49] hsevilla opened #57 "Elements disappear when menu is open"
Hi,

I'm getting the following behavior when menu is open:

![image](https://user-images.githubusercontent.com/20289065/56003012-f3109e80-5c81-11e9-9101-407e756c9bb3.png)

For some reason the text in <li> elements disappear when the menu is open.

[2019-04-29 07:51] PrimozRome opened #58 "Why is it animating width when using slide animation"
Any idea why it is animating width when using slide animation?

This is not particularly very good, because all the content inside menu bar is transforming when width animation is applied on the slide out (left or right).

It would be much better if translate on position is used so that menu bar is not resized when animating out.

[2019-04-30 15:24] mc-mosa opened #59 "CloseOnEsc is not working properly"
Pressing escape doesn't bring the page back to its original state

![image](https://user-images.githubusercontent.com/9298860/56973233-bc38f480-6b6c-11e9-865a-79da03e55dd9.png)

[2019-04-30 17:14] mc-mosa opened #61 "Styling is not preserved"
Closing the menu doesn't preserve the styling of the body element (i.e. `<body style="anything">`), also opening the menu adds to the style attribute of the #app element but doesn't remove it upon closing the menu.

[2019-05-01 02:47] inderjeetfbd opened #62 "CSS not preserved when building the application"
The changes done to CSS classes (like, .bm-burger-button, .bm-item-list) doesn't work when I build and deploy the application on the server. When checking locally, it works.

Please suggest.

[2019-05-08 08:26] RomkaLTU opened #63 "isOpen doesn't work"
It's just doesn't work at all.

Passing boolean value to :isOpen="menuState", not working.

[2019-05-08 08:29] mbj36 commented on #63
Can you reproduce on codesandbox ?

It seems to be working for me here - https://codesandbox.io/s/xo0976yq5z

[2019-05-08 08:35] RomkaLTU commented on #63
Ok I figured it out. I need to catch @openMenu event and set menuState to true.

[2019-05-08 08:36] #63 closed

[2019-05-11 14:12] celsoluiz81 commented on #58
I was able to fix this issue altering the CSS of the nav class "bm-item-list". Simply set the width in "bm-item-list" class to the same width set for bm-menu.

[2019-05-12 09:26] sameervirus opened #64 "What about Menu levels and each level open in a new replacement sidebar"
What about Menu levels and each level open in a new replacement sidebar

[2019-05-13 12:42] Qvatra commented on #9
@jaskiratr,
I use plugin slideMenu.js:
[code]

and register it
[code]
and in template I have:
[code]
and It works! no 'no document' errors anymore.
but still have error in the console:

[code]

Did someone have to deal with it as well it?

[2019-06-06 09:39] Dennisvb commented on #63
@mbj36 I press "Open Menu" on the codesanbox example and nothing happens, but it should, right?

[2019-06-09 14:51] stevenkuipers opened #65 "bm-overlay class does not get applied to body properly"
I ran into an issue where my font changed when I would open and close the menu.
When the bm-overlay class is added to the body it is a string concatenation, but there is no space in front of bm-overlay so it would concat with the last class I had on body.
Using classList instead of className is a beter way to add and remove classes.

![className](https://user-images.githubusercontent.com/13149753/

[2019-06-11 10:37] Dennisvb opened #67 "isOpen doesn't work"
I have the same problem stated in issue #63 and the codesandbox you've replied (https://codesandbox.io/s/xo0976yq5z) doesn't work either for me. When I press "open menu" nothing happens.

I have noticed that changing "isOpen" to true will trigger the event twice. Once to open, once to close.

Am I doing something wrong?

Dennis

[2019-06-13 04:17] Colin-Moran opened #68 "Menu breaks on heroku deploy"
I'm using it for my nav-bar in a node/express/vue/mongo app and it looked and works great locally, but when deployed on heroku the menu is completely broken. It will slide out but there is no content on it and its gone back to its default color. Any ideas?

[2019-06-19 07:17] jayehernandez commented on #67
Had the same problem! Checked issue #33 and adding `e.stopPropagation()` to the method `openMenu` worked for me. Here's their codesandbox https://codesandbox.io/s/wq3ozkvjyl.

[2019-06-26 10:26] mbj36 commented on #54
Fixed

[2019-06-26 10:26] #54 closed

[2019-06-26 10:27] mbj36 commented on #59
fixed in v2.0.2

[2019-06-26 10:27] #59 closed

[2019-06-26 10:27] mbj36 commented on #61
Fixed in v2.0.2

[2019-06-26 10:27] #61 closed

[2019-06-26 10:29] #67 closed

[2019-06-27 23:34] Ch3rlO commented on #68
@Colin-Moran  U can use the IMPORTANT keyword in the style

so it'll be like

`.text-white-over {
    color: #00b894 !important;
}

.bb-3 {
    border-bottom: 1px solid #00b894 !important;
}

.bg-white-menu {
    background-color: white !important;
}

.bm-burger-button {
    position: fixed !important;
    width: 30px !important;
    height: 20px !important;
    left: 36px !important;
    top: 25p

[2019-06-28 03:31] mbj36 commented on #68
Do you mind opening a PR ?

[2019-06-28 13:20] Ch3rlO commented on #68
yup sure

[2019-06-29 19:31] edellaq commented on #30
experiencing the problem too, trying to insert a recursive TreeMenu into the Slider compoent...
is there at least a way to intercept the CloseMenu event and manage it on purpose?

[2019-07-08 14:51] Leviosar opened #70 "Typescript support"
Great job on this component, but do you plan to add Typescript support? Just a type declaration on  npm should do just fine.

[2019-07-08 16:21] mbj36 commented on #70
Happy to accept PR

[2019-07-23 19:37] Tes3awy opened #71 "Issue on iOS Safari and ChromeOS"
I've been using the plugin and it works well. But the problem is that it has very strange behavior on iOS or macOS. If the menu is opened and the page is scrolled. The menu takes the height of its parent.

I know it's mentioned in the README that it has a strange behavior on iOS and IE. But can you help me with this issue?

[2019-08-23 17:35] ton77v opened #72 "closeMenu and openMenu don't work in in-DOM templates"
It's impossible to listen to camelCase events when using in-DOM templates, i.e. @closeMenu and @openMenu listeners won't work in this case.

Renaming the events will solve this. Thanks!

[2019-08-23 19:02] daitah commented on #62
I am having the same issue here. any solution ?

[2019-08-27 19:17] EggIt commented on #4
I'm on v2.0.2 and i am having the same issue, menu closing upon click on a menu item.

As follow my analysis about the `documentClick` method:

- `element` evaluates to the burgerButton
- The if statement checks if the target element is not contained in the burgerButton
- By checking the DOM the burgerButton is a sibling of the menu and not its parent, so the if always evaluates to true which auto

[2019-08-28 16:33] #71 closed

[2019-09-05 10:11] EggIt opened #73 "Override burger button"
Im on v2.0.2.

is it possible to override the defaut provided burger button?

i would like to replace the 3 span bars with a custom element.

[2019-09-20 12:21] lukasrump commented on #62
I had the same issue. A quick and dirty solution would be to use the CSS !import property.

[2019-10-13 11:37] jesperholstjh commented on #65
Any updates on this? This is still an issue.

[2019-10-15 12:38] jesperholstjh commented on #56
Have a look at https://github.com/mbj36/vue-burger-menu/issues/30. The issue is fixed but @mbj36 hasn't merged it to master. We are also waiting for this.

[2019-10-15 13:27] mbj36 commented on #56
It's merged @jesperholstjh

[2019-10-22 12:08] vaettw opened #77 "Use it at the top"
How should I use it at the top of the page?

[2019-10-26 13:19] toyoshima-c-fixer opened #78 "Cannot put dropdown in the menu"
Looks like only link tags can be on the menu list.  In my case, I want to put a dropdown in a sidebar.
Hope it will be supported. Thx in advance

[2019-10-26 13:20] #78 closed

[2019-10-26 13:21] toyopilgrim opened #79 "Cannot put a dropdown on the menu list."
Looks like only link tags can be on the menu list. In my case, I want to put a dropdown in a sidebar.
Hope it will be supported. Thx in advance

[2019-10-26 13:32] toyoshima-c-fixer commented on #78
<Slide class="burger">
      <router-link to="/" class="top-nav__link active">
        <span>HOME</span>
      </router-link>

      <div class="dropdown">
        <button class="dropbtn">
          Artists
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <router-link
            v-for="(name,i) in names"
            :key="`m-artists${i}

[2019-10-26 13:34] toyopilgrim commented on #79
Here's a part of my code.

    <Slide class="burger">
      <router-link to="/" class="top-nav__link active">
        <span>HOME</span>
      </router-link>

      <div class="dropdown">
        <button class="dropbtn">
          Artists
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <router-link
            v-for="(name,i) in names"

[2019-10-27 04:38] toyopilgrim commented on #79
Using ```disableOutsideClick```, it turn out to be possible. But it'd be good if it does not close even when other than link tags are clicked.

[2019-10-27 04:38] #79 closed

[2019-10-28 03:41] toyoshima-c-fixer commented on #56
@mbj36
Has it been modified? Looks like it still closes when clicking inside.

[2019-10-28 07:30] mizutori opened #80 "bm-overlay partially covers the view behind."
<img width="1015" alt="スクリーンショット 2019-10-28 16 23 28" src="https://user-images.githubusercontent.com/417340/67659322-5d2f2d80-f99f-11e9-8c28-83064420b977.png">

I saw bm-overlay partially covers the view behind. See the screenshots above.
This happens when the view has a google map or scrollable area.
I also found <input> tag is shown above the bm-overlay.

Is there any workaround to show the bm-o

[2019-11-14 08:17] quantavi commented on #62
@lukasrump as much as I hate having 30+ css lines with !important in single component, this works well as a "quick and dirty" solution. Thanks!
As for the component, it would be great if you could easily define styling.

[2019-11-18 15:45] Brice187 commented on #56
Found the issue in vue-burger-menu.common.js:
[code]
The condition e.target.className !== 'bm-menu'  only checks the class of the top level elements. if these have child elements that do not have "bm-menu", the click is considered "outside"

[2019-12-02 04:01] clien007 opened #82 "Open side nav manually"
Hi!

Just want to ask how to open the side nav manually or using javascript?

Thanks!

[2019-12-05 10:42] gavinhewitt commented on #56
Having the same issue

[2019-12-05 10:44] Brice187 commented on #56
i fixed it in my PR, have a look or wait for the maintainer to merge the PR ;)

[2019-12-05 10:59] gavinhewitt commented on #58
Exactly

[2019-12-16 17:58] BobSynfig commented on #82
Hi,

You can use a reactive variable like here:
`<Slide :isOpen=slideIsOpen @openMenu=openSlide @closeMenu=closeSlide></Slide>`

[code]

[code]

and call the wanted method (_this.openSlide()_, _this.closeSlide()_ or _this.toggleSlide()_) from your code :)

[2019-12-20 13:39] #55 closed

[2019-12-30 19:39] bustarice opened #84 "Push moving whole page instead of page-wrap content area for mobile"
So while using push on desktop view, it pushes my content div fine and my navbar on top stays put.

However when I open mobile view the whole page pushes right including the navbar.

I temporarily changed the navbar to position: absolute just to see what will happen and it then pushed only the content of page-wrap. This is not a solution and probably un-related but did it just to see.

So I'm not

[2020-03-05 16:08] #56 closed

[2020-03-10 16:41] DrCord opened #88 "Slide and Reveal exactly the same animation?"
Why are the Slide and Reveal animations exactly the same?

[2020-03-10 17:00] DrCord commented on #58
Still happening, this would be a nice small change to make the Slide/Reveal animations much better.

[2020-03-10 17:17] DrCord commented on #58
I created a fix for this and have a branch ready to push up and make a pull request for, however I don't seem to be able to push up the branch... any help on this repo having a special way to create a PR?

[2020-03-11 16:55] madroneropaulo commented on #63
Yeah it doesn't work on the sandbox. Maybe an introduced bug. It worked for me as @RomkaLTU suggested, by using the @openMenu and @closeMenu events algonside with isOpen

[2020-03-16 03:46] allisonaraujoo commented on #9
The error still persists. Help me >>>> document is not defined

[2020-03-30 01:42] xdiegom commented on #9
@allisonaraujoo I just did as @sbefort  said to implement and it worked.
Nuxt Version: 2.12.1

[2020-04-03 18:37] amchconsult opened #91 "Browser CDN"
can you give an example of use on CDN as global component.

thank you

[2020-04-06 21:08] nynevi commented on #9
@allisonaraujoo make sure to remove Slide (or whichever you are using) from your component's components property.

Slide would be global via the plugin

[2020-04-24 12:41] #82 closed

[2020-04-24 12:41] #77 closed

[2020-04-24 12:41] #70 closed

[2020-04-24 12:42] #68 closed

[2020-04-24 12:42] #49 closed

[2020-04-24 12:43] #9 closed

[2020-04-24 12:44] #47 closed

[2020-04-24 12:44] #62 closed

[2020-04-24 12:44] #52 closed

[2020-05-09 13:27] Emmunaf commented on #91
This should do the job:
[code]

[2020-05-10 19:27] amchconsult commented on #91
Thank you, it works great.

How do I change Close button size?
It doesn't adjust with width size

[2020-05-10 20:55] amchconsult commented on #91
I got it.

Thank you

[2020-05-10 20:55] #91 closed

[2020-05-22 11:44] SvenC56 opened #93 "Nuxt.Js Error "Node.appendChild: Cannot add children to a Text""
On the latest Nuxt Version `2.12.2` and plugin version `2.0.5` I get the following error:

I only get this error in `production` and in `universal` mode. I already had a look into this issue https://github.com/mbj36/vue-burger-menu/issues/46 but I could not resolve the issue. Like described I do not get this error in `development` mode.

nuxt.config.js:

[code]

slide-menu.js:

[code]

AppSidebar.

[2020-05-31 14:06] ayoubkhan558-zz opened #94 "How to manuly trigger menu"
How to manuly trigger menu

[2020-06-05 10:39] pacoogle opened #95 "How do I add my personal logo on top of sidebar menù?"
Hi guys, can I add my personal logo on top of sidebar menù?

Thanks a lot

[2020-06-09 04:01] NWRichmond commented on #93
Are you deploying on Netlify? If so, this issue is relevant: https://community.netlify.com/t/netlify-forms-invalid-html-of-the-hidden-input-element/1573

If you are deploying on Netlify, my best guess is that this isn't an issue with `vue-burger-menu`.

[2020-06-16 06:16] ton77v commented on #94
You should use  https://github.com/mbj36/vue-burger-menu#open-state

Example:
<Slide :isOpen="isOpen">

In your code you just set this.isOpen = true / false
And update this.isOpen state using https://github.com/mbj36/vue-burger-menu#menu-events to make sure it matches the Slide state

[2020-06-18 08:45] lwiml commented on #94
I had the same issue, but i don't understand your example @ton77v .
What needs to happen on these menu events? and when do i set isOpen to true/false.

[2020-06-18 19:59] amchconsult opened #97 "How do you do 2 instances?"
How do I do 1 burger menu to the right and other to the left?

thank you

[2020-06-19 04:02] ton77v commented on #94
It will be easier if you share some code, and I will try to explain what to add

[2020-06-19 09:50] SvenC56 commented on #93
This seems to be sufficient. Thank you!

[2020-06-19 09:50] #93 closed, assigned to nobody

[2020-07-29 15:52] Jack-Barry commented on #48
I was having the same issue and also had to use `:right="true"` in the component. It's a bit misleading in the docs since they say to just use `right` for the boolean. Maybe the docs should be updated to cause less confusion?

[2020-07-31 23:14] reyesmfabian opened #102 "Error in Production"
I have problems with the library, in developer mode it works fine, but, when I do the build the sidebar doesn't appear and it doesn't show any error in the console either.

What am I doing wrong?

[2020-08-03 03:15] Developer-Brandon opened #103 "Would i ask something? when hamburger menu was opened and closed, contents in menu were distored.."
My title is all about my explanation.
When menu was opened or closed, all contents in menu were distored.
I can't guess why this happening so i will attach my code and screen as below.

1. html
[code]
2. css
[code]
3. Image
3-(1). Process of opening
![image](https://user-images.githubusercontent.com/26016838/89142615-e0ab2a00-d582-11ea-86f3-1c93b238fcf6.png)

3-(2). Result of opening
![image](http

[2020-08-09 21:48] zburk commented on #103
I had a similar issue. I added a no-wrap property which fixed it. Looks like #58 is the same issue.

[2020-08-13 03:07] winglok0416 commented on #102
Are you having wrong order of css file after built or the original css from this package has been override?

[2020-08-13 03:18] winglok0416 opened #104 "Why custom style not working after build production?"
HI,
I made some change to the provided helper class`.cross-style { right: 8px; }` using less, it works fine when build in development, but I found the order of css files is wrong after build.
Do anyone here encountered the same problem before could tell me how to fix this?
Thank you!

[2020-08-13 03:32] winglok0416 commented on #104
I solved it by providing custom class to `<Slide>`. Thanks.

[2020-08-13 03:32] #104 closed, assigned to nobody

[2020-08-17 11:54] Developer-Brandon commented on #103
@zburk

I found how solve this problem myself
I didnt designate width property. I just designated 100% like this -> width: 100%;
If  i designated width to 150px, that's solved!

Thanks for reading^^

[2020-08-17 11:54] #103 closed, assigned to nobody

[2020-08-28 17:36] Sjs445 commented on #102
I have a similar problem. When in developer mode it works fine but when I build the burger menu shows but any styling to the burger menu is not applied.

[2020-08-28 18:25] JelaniThompson commented on #102
@Sjs445 ditto

[2020-09-02 19:44] jerearaujo03 opened #105 "Not closing when click on <router-link>"
It's not ~~closing~~ hiding overlay when I click a ``<router-link>``(vue-navigation)

[2020-09-06 19:18] SergeyKons commented on #70
Hi! We need to use this plugin in our typescript project. So I was written a simple declaration file for it.

You can find it here. https://gist.github.com/SergeyKons/96067830669ae62aef7fd5aeba9ea640

Later I will publish it to definitely typed

[2020-09-06 19:20] sergeyshevch opened #108 "Typescript Support"
As referenced in #70 there currently no declaration file for using this package with typescript

I was created simple declaration for it. Declaration can be found here: https://gist.github.com/sergeyshevch/96067830669ae62aef7fd5aeba9ea640

Later I will add PR to definitely typed for add this declaration as @types/vue-burger-menu

[2020-09-09 15:10] patricktsg commented on #73
I would like to do this too

[2020-10-12 07:25] peterDijk opened #109 "configure to use in nuxtjs"
Hi,
I am trying to get the plugin to work in my NuxtJS project.
I found the steps needed for the code to only be run on client-side, but it doesn't seem to work for me.
Can you see what I'm doing wrong?

`nuxt.config.js`:
  `  plugins: [{ src: '~/plugins/vue-burger-menu.js', ssr: false }],`
  ` build: { vendor: ['vue-burger-menu'] }`

`plugins/vue-burger-menu.js`:
[code]

`Slide.vue`:
[code]

When

[2020-10-12 07:32] mbj36 commented on #109
@Chris-Pratt-Clystnet check this https://github.com/mbj36/vue-burger-menu/issues/9

[2020-10-12 07:33] mbj36 commented on #108
PRs welcome

[2020-10-30 21:42] GeorgeFlorian commented on #49
Was this fixed ? Because whenever I change the width of the menu from the default 400px, the cross remains fixed with `right: 250px` and nothing works to move it somewhere else.

![Screenshot from 2020-10-30 23-41-48](https://user-images.githubusercontent.com/39895513/97759342-82520100-1b09-11eb-9ce9-7805402d7b3a.png)

How do you move it ?

[2020-11-03 00:36] GeorgeFlorian commented on #105
Read here:
https://github.com/mbj36/vue-burger-menu#close-on-navigation

[2021-01-08 09:09] valeriosillari opened #111 "Configuration option to change id for #app and #page-wrap"
Hello,
just wondering if there is a way to change the default IDs used for the elements, as described in the documentation.

I would like to get an option to set this ID in custom way, because I have already another component using "page-wrap" and I got some conflicts.

I think this is more a feature request, but it would be nice to have (I guess it's not possibile yet).

by the way: awesome proje

[2021-01-24 20:27] demiavaliani opened #112 "PUSH ROTATE does not close correctly"
PUSH ROTATE menu opens correctly by rotating and translating simultaneously. But when closing the menu it first rotates back to flat and then translates back to it's original position. It's not smooth anymore and makes it look like the menu is slammed flat on the screen and then moved back.

https://user-images.githubusercontent.com/33201116/105642586-41ad1e00-5e93-11eb-9dc9-1a8c259d2234.mp4

[2021-02-11 15:53] valeriosillari commented on #73
I would like also to get the option to set custom markup

[2021-03-25 00:15] LovelyAndy opened #114 "How do I change the styles of this component?"
First off, it looks and works fantastically for me!
I was wondering how I can modify the styles that are directly on the html of this component? (or just get rid of them entirely)
The styles like width seem to be hardcoded, but I can't choose `width: 100%` so it's responsive to screen size. Anyway to choose 100% width without destroying the click event?
Same with the `position: fixed` property. Is

[2021-04-18 22:47] narender56 opened #116 "Any plans to support Vue3"
Would be nice to have Vue 3 Support!

[2021-04-21 14:28] smg99 commented on #116
Looking forward for Vue3 compatibility

[2021-04-26 08:11] narender56 commented on #116
I found a fork for V3 https://github.com/mkdillard/vue3-burger-menu

[2021-06-07 14:10] quevlu commented on #114
@LovelyAndy You have to import the styles of the component and use !important to replace the default style of the component.

[2021-07-15 16:37] ungarson opened #121 "Cannot resolve symbol 'Slide'"
Even though vue-burger-menu is installed, I get this message:

<img width="718" alt="Screen Shot 2021-07-15 at 19 36 49" src="https://user-images.githubusercontent.com/13982759/125825000-08bbb9ff-5bc2-4848-9699-caabd65ad3fd.png">

[2021-08-02 12:38] thomas-mosset commented on #102
Hi !
I've encountered the same problem as **@Sjs445** & **@JelaniThompson**. I've tried differents things but so far, nothing worked. I know this is an old issue but did one of you (or someone else) managed to resolve this ?
Thanks !

[2021-09-16 13:46] ungarson commented on #121
No feedback. Closed then.

[2021-09-16 13:46] #121 closed, assigned to nobody

[2022-01-19 23:15] FlorianWip opened #128 "Change bm-burger-bars"
How is it possible to change the style of the menu in nuxtjs, especially the class bm-burger-bars, because I want to use this in a website, which is in dark-mode. So it is quit difficult to see a grey bar in a dark grey background, so I want to color it white.

[2022-02-14 07:01] ghost commented on #128
I used it in Vue 3 but I believe it works the same for Nuxt:
CSS(SCSS particular) just apply desired styles:

.bm-menu {
  width: 400px;
}
.bm-burger-button {
  z-index: 100;
}
.bm-burger-bars {
  background-color: red; // or:
  background: #fff;
  border-radius: 10px;
  height: 5px;
  margin: 5px 0;

  &:nth-of-type(1) {
    width: 50%;
  }

  &:nth-of-type(2) {
    width: 100%;
  }

  &:nth-of-t

[2022-03-02 22:37] zirekx opened #134 "Could not find a declaration file or module"
Could not find a declaration file for module 'c:xxxxx/node_modules/vue-burger-menu'. 'c:xxxxx/node_modules/vue-burger-menu/dist/vue-burger-menu.common.js' implicitly has an 'any' type.Vetur(7016)

[2022-10-21 05:42] #109 closed, assigned to nobody